<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @token != nil %>
      <%= hidden_field_tag :invite_token, @token %>
    <% end %>
    <%= f.input :email %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions submit-button">
    <%= f.button :submit, 'submit' %>
  </div>
<% end %>
