<div class="row">
  <div class="small-12 columns">
    <p class="form-title">EDIT USER</p>
  </div>
</div>
<div class="row" id="new-band-form">
  <div class="large-4 medium-5 small-12 columns">
    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email %>
        <%= f.input :username %>
      </div>

      <div class="form-actions submit-button">
        <%= f.button :submit, 'submit' %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to 'cancel', user_path %>
  </div>
</div>
