<div class="form-wrapper row">
  <div class="small-12 medium-5 large-4 columns">
      <p class="form-title">USER SETTINGS</p>
      <!-- EDIT USER INFO -->
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :email, label: 'email', required: false %>
        <%= f.input :username, label: 'username', required: false %>
        <%= f.button :submit, 'UPDATE' %>
      <% end %>
      <!-- EDIT USER BANDS -->
      <%= render 'bands' %>
      <br>
      <%= link_to 'DELETE ACCOUNT', user_path(@user), method: :delete, class: "button alert user-delete-icon", data: {confirm: "WARNING: Are you ABSOLUTELY SURE you want to delete your account? All bands you own and their related material will be permanently lost."} %>
      <br><br>
      <%= link_to 'back', root_path %>
  </div>
</div>
