<p class="text-center" id="notice"><%= notice %></p>

<div class="row">
  <div class="large-4 medium-5 small-12 columns">
    <p>
      <strong>email: </strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>password: </strong>
      <%= @user.password %>
    </p>

    <p>
      <strong>username: </strong>
      <%= @user.username %>
    </p>
    <%= link_to 'edit', edit_user_path(@user) %> |
    <%= link_to 'back', root_path %>
  </div>
</div>
