<%= simple_form_for @song, url: band_songs_path do |s| %>
  <%= s.error_notification %>

  <div class="form-inputs">
    <%= s.simple_fields_for :attachments do |a| %>
      <%= a.attachment_field :file %>
    <% end %>
    <%= s.input :name %>
    <%= s.input :key %>
    <%= s.input :lyrics %>
    <%= s.input :note %>
    <%= s.association :band %>
  </div>

  <div class="form-actions">
    <%= s.button :submit %>
  </div>
<% end %>
