<div class="form-wrapper row">
  <div class="small-12 medium-6 large-4 small-12 columns">
    <p class="form-title">EDIT SONG</p>
    <!-- EDIT SONG INFO -->
    <%= simple_form_for @song, url: band_song_path do |s| %>
      <%= s.input :name, label: 'name' %>
      <%= s.input :key, label: 'key' %>
      <%= s.input :lyrics, label: 'lyrics' %>
      <%= s.input :note, label: 'notes' %>
      <%= s.button :submit, 'UPDATE' %>
    <% end %>
    <p>OR</p>
    <%= link_to 'DELETE', band_song_path, method: :delete, class: 'button alert right'%>
    <br><br>
    <%= link_to 'back', band_song_path %>
  </div>
</div>
