<p id="notice"><%= notice %></p>

<div class="row text-center">
  <h1><%=@band.name.downcase %> | songs</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Lyrics</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.key %></td>
        <td><%= song.lyrics %></td>
        <td><%= song.note %></td>
        <td><%= link_to 'Show', band_song_path(id: song.id) %></td>
        <td><%= link_to 'Edit', edit_band_song_path(id: song.id) %></td>
        <td><%= link_to 'Destroy', band_song_path(id: song.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_band_song_path %>
