<p id="notice"><%= notice %></p>

<div class="row text-center">
  <h3><%= @song.name %></h3>
</div>
<div class="row text-center">
  <%= audio_tag attachment_url(@song.attachments.first, :file), class: "audio-play", controls: true %>
</div>
<p class="text-center">
  <strong>Key:</strong>
  <%= @song.key %>
</p>
<div class="row">
  <div class="small-12 medium-6 large-6 columns text-center">
    <strong>Lyrics:</strong>
    <%= simple_format(@song.lyrics) %>
  </div>
  <div class="small-12 medium-6 large-6 columns text-center">
    <strong>Note:</strong>
    <%= simple_format(@song.note) %>
  </div>
</div>
<div class="row text-center">
  <%= link_to 'Edit', edit_band_song_path(id: @song.id) %> |
  <%= link_to 'Back', band_songs_path %>
</div>
