<p id="notice"><%= notice %></p>

<div class="row text-center">
  <div class="small-1 columns">
    <%= link_to '<i class="fi-arrow-left"></i>'.html_safe, band_songs_path, class: "back-button" %>
  </div>
  <div class="small-10 columns end text-center">
    <h3 class="page-title" id="song-name"><%= @song.name.downcase %></h3>
  </div>
</div>
<p class="text-center">
  <strong>key of <%= @song.key %></strong> //
  <%= link_to 'Edit', edit_band_song_path(id: @song.id) %>
</p>
<div class="row text-center" id="audio-playback">
  <%= audio_tag attachment_url(@song.attachments.first, :file), class: "audio-play", controls: true %>
</div>
<div class="row">
  <div class="small-12 medium-5 medium-push-1 columns text-center">
    <strong id="song-lyrics-header">LYRICS</strong>
    <%= simple_format(@song.lyrics.downcase) %>
  </div>
  <div class="small-12 medium-5 medium-push-1 columns end text-center" id="song-notes">
    <strong id="song-notes-header">NOTES</strong>
    <%= simple_format(@song.note) %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 medium-push-1 columns text-center">
    <%= link_to "comment", new_band_song_comment_path(song_id: @song.id), class: "button", id: "comment-button" %>
  </div>
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="small-6 small-push-3 end columns song-comment">
        <strong>@<%= comment.user.username %>:</strong> <%= comment.body %>
      </div>
    </div>
  <% end %>
</div>
