<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @song.key %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @song.lyrics %>
</p>

<p>
  <strong>Note:</strong>
  <%= @song.note %>
</p>

<p>
  <strong>Band:</strong>
  <%= @song.band %>
</p>

<%= link_to 'Edit', edit_band_song_path(id: @song.id) %> |
<%= link_to 'Back', band_songs_path %>
