<!-- HEADER -->
<%= render 'header',
    item: @song,
    icon_left: icon_back,
    path_left: band_songs_path,
    icon_right: icon_edit,
    path_right: edit_band_song_path
%>

<div class="row text-center" id="song-key">
  key: <%= @song.key %></span>
</div>

<!-- AUDIO PLAYER-->
<%= render 'player' %>

<!-- LYRICS + NOTES -->
<div class="song-content-wrapper row">
  <div class="song-content-box small-12 medium-6 columns text-center">
    <p class="song-content-header">LYRICS</p>
    <div class="song-content-body">
      <%= simple_format(@song.lyrics.downcase) %>
    </div>
  </div>
  <div class="song-content-box small-12 medium-6 columns end">
    <p class="song-content-header text-center">NOTES</p>
    <div class="song-content-body">
      <%= simple_format(@song.note) %>
    </div>
  </div>
</div>

<!-- COMMENTS -->
<div class="song-content-wrapper row">
  <div class="song-content-box small-12 medium-10 medium-push-1 end columns">
    <div class="song-content-body">
      <%= render 'comments/form' %>
      <%= render @comments %>
    </div>
  </div>
</div>
