<div class="row">
  <div class="small-12 columns">
    <p class="form-title">EDIT BAND</p>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-5 large-4 columns">
    <div>
      <!-- EDIT NAME -->
      <%= simple_form_for (@band) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, label: 'name' %>
        <%= f.button :submit, 'SAVE' %>
      <% end %>
    </div>
    <div>
      <!-- EDIT MEMBERS -->
      <%= render 'members' %>
      <%= link_to 'ADD MEMBER', new_band_invite_path(band_id: @band.id), class:"button" %>
    </div>
    <br>
    <div>
      <%= link_to 'cancel', bands_path %>
      <%= link_to 'DELETE', band_path(@band), method: :delete, class: "button alert band-delete-icon" %>
    </div>
  </div>
</div>
