<div class="row">
  <div class="small-12 columns">
    <p class="form-title">EDIT BAND</p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-5 large-4 columns">
    <%= simple_form_for (@band) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, label: 'name' %>

      <%= f.button :submit, 'SAVE' %>
    <% end %>
    <%= render 'members' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to 'invite members', new_band_invite_path(band_id: @band.id) %>
    <%= link_to 'cancel', bands_path %>
  </div>
</div>
