<!DOCTYPE html lang="en-us">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_link_tag %>
    <title>FEVVER</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="body-wrapper">
      <% unless welcome_page %>
        <%= render 'navbar' %>
        <div class="row" id="notice"><%= notice %></div>
      <% end %>
      <div class="body-content">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
