<!DOCTYPE html lang="en-us">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>FEVVER</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="body-wrapper">
      <% unless welcome_page %>
        <%= render 'navbar' %>
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div class="callout <%= name.to_s == 'notice' ? 'success' : 'alert' %>" data-closable>
              <%= content_tag :div, msg %>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="body-content">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
